In [38]:
import mysql.connector as mysql
import pandas as pd

In [30]:
db = mysql.connect(host="r2klabs.com", user="cnporter", password="CNP-ds160$2021", database="crime_data")

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029CBA718760>

In [31]:
cursor = db.cursor()

In [32]:
cursor.execute("SHOW DATABASES")

In [33]:
databases = cursor.fetchall()
print(databases)

[('crime_data',), ('information_schema',), ('moodle',), ('mysql',), ('performance_schema',), ('premier_products',), ('sekelley_wordpress',), ('sys',), ('wordpress',)]

In [34]:
cursor.execute("SHOW TABLES")

In [35]:
tables = cursor.fetchall()
for table in tables:
    print(table)

('incident_reports',)
('nibrs_codes',)

In [43]:
query1 = "SELECT DISTINCT(crime_type) AS unique_crime FROM incident_reports;"
cursor.execute(query1)
result = cursor.fetchall()
resultdf = pd.DataFrame(result)
resultdf

                           0
0                   BURGLARY
1              THEFT/LARCENY
2                    ASSAULT
3     VEHICLE BREAK-IN/THEFT
4                  VANDALISM
5                      OTHER
6        MOTOR VEHICLE THEFT
7                    WEAPONS
8                    ROBBERY
9   DRUGS/ALCOHOL VIOLATIONS
10                     FRAUD
11      DISTURBING THE PEACE
12                       DUI
13                  HOMICIDE
14                     ARSON
15                SEX CRIMES